@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Rubik+Mono+One&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}




.login-container {
    border: solid 1px blue;
    text-align: center;
}

#login-button {
    /* border: solid 1px red; */
    text-align: center;
}


#author {
    text-decoration: underline;
}

p {
  text-indent: 50px;
    font-size: 1.2em;
    line-height: 1.5;
    color: #333;
}

.container {
    padding-top: 60px;
    
}