@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
/* dont forget control wack! */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: aliceblue;
}


h1 {
    color: blueviolet;
}

